.gallery-item {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.image:hover {
  transform: scale(1.05);
}